.bar {
    width: 35.5rem;
    height: 7.31rem;
    background: var(--almost-white);
    border: var(--border);
    border-radius: 1rem;
    display: flex;

    .progress {
        display: flex;
        padding: 2rem;
        flex-direction: column;

        .title {
            font: var(--text-normal);
            font-size: 1rem;
            color: var(--gray-600);
            display: inline
        }

        .progress-legend {
            font: var(--text-normal);
            font-size: 12px;
            display: flex;
            color: var(--gray-600);
            gap: 0.625rem;

            .legend {
                margin-top: 0.935rem;
            }
        }


        .number-hair-cut {
            font-weight: 700;
            font-size: 24px;
            display: inline;
            padding-right: 0.2rem;
        }

        progress {
            margin-top: 1.25rem;
            width: 21.93rem;
            height: 0.625rem;
            border-radius: var(--border-rounded);
        }

        progress::-webkit-progress-bar {
            border-radius: var(--border-rounded);
            background: var(--gray-200);
        }

        progress::-webkit-progress-value {
            border-radius: var(--border-rounded);
            background: linear-gradient(90deg, var(--green) 0%, var(--blue) 33.33%, var(--purple), var(--pink) 100%);

        }

    }

    .circle-gift {
        background: var(--gray-200);
        width: 4.375rem;
        height: 4.375rem;
        border-radius: var(--border-rounded);
        margin-top: 1.25rem;

        .gift {
            width: 100%;
            height: 120%;

        }

    }

}


@media (width <=40em) {
    .bar {
        width: 85vw;
        height: 7.31rem;
        background: var(--almost-white);
        border: var(--border);
        border-radius: 1rem;
        display: flex;
        margin-bottom: 2rem;
    }


    progress {
        margin-top: 1.25rem;
        width: 40vw !important;
        height: 0.625rem;
        border-radius: var(--border-rounded);
    }

    .circle-gift {
        background: var(--gray-200);
        width: 3.75rem;
        height: 3.75rem;
        border-radius: var(--border-rounded);
        margin-top: 1.25rem;
        margin-left: -1.25rem;

        .gift {
            width: 100%;
            height: 120%;

        }

    }
}