.history {
    width: 20rem;
    height: 22.5rem;
    background: var(--almost-white);
    border: var(--border);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-block: 1.75rem;
    padding-inline: 1.5rem;

    .header-history {
        display: flex;
        justify-content: space-between;
        font: var(--text-normal);
        font-size: 12px;

        .title {
            font-weight: 700;
            text-transform: uppercase;
            color: var(--gray-500);
        }

        .other-info {
            font-weight: 400;
            color: var(--gray-500);

        }

    }

    .list-history {
        display: flex;
        flex-direction: column;
        padding: 0.75rem 0 0;
        gap: 0.75rem;
        border-top: 2px solid var(--gray-200);
        overflow-y: scroll;

        .item-history {
            display: flex;
            justify-content: space-between;

            .date-item-history {
                font: var(--text-normal);
                font-size: 12px;
                text-transform: uppercase;
                color: var(--gray-600);
            }

            .date-item-hour {
                font: var(--text-normal);
                font-weight: 400;
                font-size: 12px;
                color: var(--gray-500);
            }

        }
    }
}

@media (width <=40em) {
    .history {
        width: 85vw;
        height: 22.5rem;
        background: var(--almost-white);
        border: var(--border);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-block: 1.16rem;
        padding-inline: 1.5rem;
    }
}