.perfil {
    width: 20rem;
    height: 5.625rem;
    background: var(--almost-white);
    border: var(--border);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;

    img {

        --color-border: linear-gradient(90deg, var(--green) 0%, var(--blue) 33.33%, var(--purple), var(--pink) 100%);
        height: 56px;
        width: 56px;
        background: var(--color-border) border-box;
        border: 3px solid transparent;
        border-radius: 1em;
    }

    .name {
        height: 25px;
        color: var(--gray-600);
        font: var(--text-normal);
        font-weight: 700;
        font-size: 18px;
        padding-left: 1rem;
    }

    .date {
        font: var(--text-normal);
        font-size: 12px;
        display: flex;
        align-items: center;
        color: var(--gray-500);
        padding-top: 0.5rem;
        padding-left: 1rem;

    }

}

@media (width <=40em) {
    .perfil {
        width: 85vw;
        height: 5.625rem;
        background: var(--almost-white);
        border: var(--border);
        border-radius: 1rem;
        display: flex;
    }

    img {
        height: 3.5rem;
        width: 3.5rem;
    }

    .name {
        height: 1.56rem;
        font: var(--text-normal);
        color: var(--gray-600);
        font-weight: 700;
        font-size: 18px;
        padding-left: 1rem;
    }

    .date {
        font: var(--text-normal);
        font-size: 12px;
        display: flex;
        align-items: center;
        color: var(--gray-500);
        padding-top: 0.5rem;
        padding-left: 1rem;

    }
}